Exercises
Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [ ]:
7**4

2401

In [ ]:
s="Hi there sam!"
t=s.split()
print(s)

Hi there sam!

In [ ]:
s="Hi there dad"
k=list(s.split())
print(k)

['Hi', 'there', 'dad']

In [ ]:
planet = "Earth"
diameter = 12742
"The diameter of", planet," is" ,diameter," kilometers."

('The diameter of', 'Earth', ' is', 12742, ' kilometers.')

In [ ]:
s="the diameter of {planet} is {diameter} kilometers"
k=s.format(planet="Earth",diameter=12742)
k

'the diameter of Earth is 12742 kilometers'

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
k=(lst[3][1][2])
k

['hello']

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
l=['a','b','c','d','e']
l[4]='k'
print(l)
print("list is mutable")

t=('a','b','c','d','e')
t[4]='k'
print(t)
print("tuple is immutable")

['a', 'b', 'c', 'd', 'k']
list is mutable

TypeError: ignored

So for example, passing "user@domain.com" would return: domain.com

In [ ]:
M="user@domain.com"
k=M.split('@')
print(k[1])

In [10]:
M="user@domain.com"
k=M.split('@')
print(k)

['user', 'domain.com']

In [11]:
s="Dog"
print("dog" in s)
print("hello" in s)

False
False

In [12]:
print("Dog" in s)

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [13]:
s="dog"
print(len(s)-1)

2

Problem
You are driving a little too fast, and a police officer stops you. Write a function to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". If your speed is 60 or less, the result is "No Ticket". If speed is between 61 and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all cases.

In [ ]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [ ]:
caught_speeding(82,False)

In [ ]:
'Big Ticket'

In [ ]:
caught_speeding(62,False)

In [ ]:
'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees) and using a for loop retreive each employee salary and calculate total salary expenditure.

In [16]:
k=[12000,13000,14000,15000,16000]
x=0
for i in k:
    print("The employee salary",i)
print("the total employee salary ",sum(k))

The employee salary 12000
The employee salary 13000
The employee salary 14000
The employee salary 15000
The employee salary 16000
the total employee salary  70000

Create two dictionaries in Python:

First one to contain fields as Empid, Empname, Basicpay

Second dictionary to contain fields as DeptName, DeptId.

Combine both dictionaries.

In [17]:
D1 = {
  "Empid": 98,
  "empname": "Mustang",
  "basicpay": "1964"
}
D2={
    "deptname":"CSE","deptno":9887
    }
D1.update(D2)
print(D1)

{'Empid': 98, 'empname': 'Mustang', 'basicpay': '1964', 'deptname': 'CSE', 'deptno': 9887}